:root {
  --c_dark: #1A374C;
  --c_dark_middle: #2D4560;
  --c_middle: #008080;
  --c_light_middle: #ECB69B;
  --c_light: #F4E3DB;
  --c_success: #3AAF61;
  --c_error: #D31132;
  --c_grey_bg: #E8D7D1; }

:root {
  --fs_body: 14px;
  --fs_body_mobile: 16px;
  --lh_body: 25px;
  --fs_h1: 65px;
  --lh_h1: 65px;
  --fs_h1_mobile: 50px;
  --lh_h1_mobile: 53px;
  --fs_h2: 38px;
  --lh_h2: 48px;
  --fs_h2_mobile: 40px;
  --lh_h2_mobile: 42px;
  --fs_h3: 25px;
  --lh_h3: 30px;
  --fs_h3_mobile: 35px;
  --lh_h3_mobile: 40px;
  --fs_h4: 20px;
  --lh_h4: 30px;
  --fs_h4_mobile: 25px;
  --lh_h4_mobile: 32px;
  --fs_h5: 20px;
  --lh_h5: 30px; }

.font_body {
  font-size: var(--fs_body);
  line-height: var(--lh_body);
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.02em;
  font-family: "Schulbuch Bayern";
  font-weight: 400; }
  @media (max-width: 1000px) {
    .font_body {
      font-size: var(--fs_body_mobile); } }

.font_h1 {
  font-size: var(--fs_h1);
  line-height: var(--lh_h1);
  letter-spacing: 0.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Bodoni Sev";
  font-weight: bold; }
  @media (max-width: 1000px) {
    .font_h1 {
      font-size: var(--fs_h1_mobile);
      line-height: var(--lh_h1_mobile); } }

.font_h2 {
  font-size: var(--fs_h2);
  line-height: var(--lh_h2);
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Schulbuch Bayern";
  font-weight: bold; }
  @media (max-width: 1000px) {
    .font_h2 {
      font-size: var(--fs_h2_mobile);
      line-height: var(--lh_h2_mobile); } }

.font_h3 {
  font-size: var(--fs_h3);
  line-height: var(--lh_h3);
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Schulbuch Bayern";
  font-weight: bold; }
  @media (max-width: 1000px) {
    .font_h3 {
      font-size: var(--fs_h3_mobile);
      line-height: var(--lh_h3_mobile); } }

.font_h4 {
  font-size: var(--fs_h4);
  line-height: var(--lh_h4);
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Schulbuch Bayern";
  font-weight: bold; }
  @media (max-width: 1000px) {
    .font_h4 {
      font-size: var(--fs_h4_mobile);
      line-height: var(--lh_h4_mobile); } }

.font_h5 {
  font-size: var(--fs_h5);
  line-height: var(--lh_h5);
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Schulbuch Bayern";
  font-weight: bold; }

@font-face {
  font-family: "Schulbuch Bayern";
  font-weight: bold;
  src: url("./inc/assets/fonts/1467481/58816125-0bfd-44e0-b2ce-a5ecf33ea0cc.eot?#iefix");
  src: url("./inc/assets/fonts/1467481/58816125-0bfd-44e0-b2ce-a5ecf33ea0cc.eot?#iefix") format("eot"), url("./inc/assets/fonts/1467481/10db9f34-03b1-481f-be70-68550895f1f7.woff2") format("woff2"), url("./inc/assets/fonts/1467481/b2a78604-061b-43a1-86e4-28e30bac7822.woff") format("woff"), url("./inc/assets/fonts/1467481/e301917a-6000-4129-9640-13bf52169d4f.ttf") format("truetype"); }

@font-face {
  font-family: "Schulbuch Bayern";
  font-weight: 400;
  src: url("./inc/assets/fonts/1467485/8c537154-6024-42ce-b4f8-3a91655a259b.eot?#iefix");
  src: url("./inc/assets/fonts/1467485/8c537154-6024-42ce-b4f8-3a91655a259b.eot?#iefix") format("eot"), url("./inc/assets/fonts/1467485/130b6780-6a47-4ae4-ab65-b523dc144863.woff2") format("woff2"), url("./inc/assets/fonts/1467485/464ec62a-da0b-45fc-b182-4a76d58d4ddb.woff") format("woff"), url("./inc/assets/fonts/1467485/bb859cce-86be-4119-a47c-9a231a54faa7.ttf") format("truetype"); }

@font-face {
  font-family: "Schulbuch Nord";
  font-weight: bold;
  src: url("./inc/assets/fonts/1467489/6767aadf-3f1b-4c8e-9149-6e3fd5bc4c6e.eot?#iefix");
  src: url("./inc/assets/fonts/1467489/6767aadf-3f1b-4c8e-9149-6e3fd5bc4c6e.eot?#iefix") format("eot"), url("./inc/assets/fonts/1467489/78b556db-5791-458a-8351-35de4d622f23.woff2") format("woff2"), url("./inc/assets/fonts/1467489/0ea85425-7038-4999-98fb-89926cd313a8.woff") format("woff"), url("./inc/assets/fonts/1467489/6ed21f7f-1777-45c9-b399-15905ec6a814.ttf") format("truetype"); }

@font-face {
  font-family: "Schulbuch Nord";
  font-weight: 400;
  src: url("./inc/assets/fonts/1467493/96bf99c9-8907-4c4e-9d22-afb130e0c225.eot?#iefix");
  src: url("./inc/assets/fonts/1467493/96bf99c9-8907-4c4e-9d22-afb130e0c225.eot?#iefix") format("eot"), url("./inc/assets/fonts/1467493/47a35741-3584-4dad-b04f-d79fc81db42b.woff2") format("woff2"), url("./inc/assets/fonts/1467493/66298d62-e9e6-4688-9f87-c1d37448429a.woff") format("woff"), url("./inc/assets/fonts/1467493/3917c830-98bc-45e5-b2e8-56b1cd8c8286.ttf") format("truetype"); }

@font-face {
  font-family: "Schulbuch Sued";
  font-weight: bold;
  src: url("./inc/assets/fonts/1467497/74e8300d-ee60-45bf-b49d-f033609c0aa9.eot?#iefix");
  src: url("./inc/assets/fonts/1467497/74e8300d-ee60-45bf-b49d-f033609c0aa9.eot?#iefix") format("eot"), url("./inc/assets/fonts/1467497/9bb1e0c3-5513-4fcb-818e-5be5f676fb53.woff2") format("woff2"), url("./inc/assets/fonts/1467497/e7aa6600-af32-465f-b8c1-ac06e61c68d1.woff") format("woff"), url("./inc/assets/fonts/1467497/6598a9ed-c507-4586-9933-753dc0b84694.ttf") format("truetype"); }

@font-face {
  font-family: "Schulbuch Sued";
  font-weight: 400;
  src: url("./inc/assets/fonts/1467501/452d3ee0-b76d-4c4d-86cf-24b3138c7d0e.eot?#iefix");
  src: url("./inc/assets/fonts/1467501/452d3ee0-b76d-4c4d-86cf-24b3138c7d0e.eot?#iefix") format("eot"), url("./inc/assets/fonts/1467501/6a4ad4ba-c88b-4b0c-93b9-a4be80147435.woff2") format("woff2"), url("./inc/assets/fonts/1467501/761f986a-38b3-4cdd-bbee-04c388c325b7.woff") format("woff"), url("./inc/assets/fonts/1467501/7fd7d5d0-13df-4d61-b333-303689c7db7b.ttf") format("truetype"); }

@font-face {
  font-family: "Bodoni Sev";
  font-weight: 400;
  src: url("./inc/assets/fonts/1557468/2206cc6b-244c-4060-88b8-3fad98606916.eot?#iefix");
  src: url("./inc/assets/fonts/1557468/2206cc6b-244c-4060-88b8-3fad98606916.eot?#iefix") format("eot"), url("./inc/assets/fonts/1557468/5d60805f-567f-4ccb-920d-fefe77577fd5.woff2") format("woff2"), url("./inc/assets/fonts/1557468/c2dcad27-a62d-40b0-88a4-fd4b1126d0cc.woff") format("woff"), url("./inc/assets/fonts/1557468/a8b4ab7e-4314-421c-a076-5e2f1b5a7845.ttf") format("truetype"); }

@font-face {
  font-family: "Bodoni Sev";
  font-weight: 400;
  font-style: italic;
  src: url("./inc/assets/fonts/1557470/95acd58e-0fa8-4450-923c-5406ae1d6818.eot?#iefix");
  src: url("./inc/assets/fonts/1557470/95acd58e-0fa8-4450-923c-5406ae1d6818.eot?#iefix") format("eot"), url("./inc/assets/fonts/1557470/e8f76d64-52d0-45a3-9616-2403acec1030.woff2") format("woff2"), url("./inc/assets/fonts/1557470/3cb77b99-7b69-430d-ba73-a48c6a88c6ad.woff") format("woff"), url("./inc/assets/fonts/1557470/fb4f5703-051e-49ba-ab9e-716c0894dc11.ttf") format("truetype"); }

@font-face {
  font-family: "Bodoni Sev";
  font-weight: bold;
  src: url("./inc/assets/fonts/1557474/3cbef187-6f86-4874-9eee-5d1f1b777d08.eot?#iefix");
  src: url("./inc/assets/fonts/1557474/3cbef187-6f86-4874-9eee-5d1f1b777d08.eot?#iefix") format("eot"), url("./inc/assets/fonts/1557474/7ebfd050-163a-472d-b8c1-d353c1e03b2e.woff2") format("woff2"), url("./inc/assets/fonts/1557474/4a3db9c0-1b99-4c42-91b0-d913a63fe676.woff") format("woff"), url("./inc/assets/fonts/1557474/422f109a-f873-4c8c-82a6-99b2deee6448.ttf") format("truetype"); }

@font-face {
  font-family: "Bodoni Sev";
  font-weight: bold;
  font-style: italic;
  src: url("./inc/assets/fonts/1557476/7888e4f9-cb37-44bc-9ea4-fd054691867a.eot?#iefix");
  src: url("./inc/assets/fonts/1557476/7888e4f9-cb37-44bc-9ea4-fd054691867a.eot?#iefix") format("eot"), url("./inc/assets/fonts/1557476/01b2c10b-271c-462c-8347-52530769bcbd.woff2") format("woff2"), url("./inc/assets/fonts/1557476/0957e7b9-070e-4ae4-b146-e598ffb82fc3.woff") format("woff"), url("./inc/assets/fonts/1557476/9741e2ce-521a-422d-a329-538660eddb27.ttf") format("truetype"); }

p, a, button, li, span, input {
  font-size: 14px;
  font-size: var(--fs_body);
  line-height: 25px;
  line-height: var(--lh_body);
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: .02em;
  font-family: Schulbuch Bayern;
  font-weight: 400; }

@media only screen and (min-width: 468px){
  #masthead{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.um-page-loggedin.um-own-profile.theme-wp-bootstrap-starter.woocommerce-js.tribe-js.responsive-menu-slide-left div#page.site.container-fluid div#content.site-content{
  margin-top: 105px !important;
}

img.custom-logo{
  margin: auto;
  display: block;
  max-height: 95px;
  width: 100%;
}

#content.site-content{
  padding-bottom:0;
}

@media screen and (min-width:1000px){
  #content.site-content{
    margin-top:35px;
  }
  body.page-template-page-register #content.site-content,
  body.page-template-page-login #content.site-content,
  body.page-template-page-account #content.site-content,
  body.page-template-page-cart #content.site-content,
  body.page-template-page-checkout #content.site-content{
    margin-top: 0;
  }
  body.single-partner #content.site-content,
  body.single-partner #content.site-content #content.site-content {
    padding-top: 0;
    margin-top:0;
  }
}
@media screen and (max-width:1000px){
  #content.site-content #content.site-content{
    padding-top: 70px;
  }
  body.single-partner #content.site-content #content.site-content {
    padding-top: 0;
  }
}
.mainbody{
  z-index: 1;
  color: #2d4560;
  color: var(--c_dark_middle);
  min-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 150px;
  position: relative;
  background-image: url(./inc/assets/img/become_member_bg.jpg);
  background-color: #f4e3db;
  background-size: cover;
  background-attachment: fixed;
}
.mainbody .container,
.mainbody .container-fluid{
  position: relative;
}
.mainbody > .container::before,
.mainbody > .container-fluid::before{
  content: "";
  display: block;
  background-image: -webkit-gradient(linear,left top,right bottom,from(#f4e3db),to(#f4e3db));
  background-image: linear-gradient(to bottom right,#f4e3db,#f4e3db);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 3s linear;
}
#personalfeed .card-columns > .col.card{
  margin-top: 50px;
}
/* #personalfeed .card-columns .col.card:nth-child(3){
  margin-top: -55px;
} */

.homepagetext a{
  color: #ecb69b;
  font-size: 17px;
}
#personalfeed p{
  font-size: 16px;
  font-size: var(--fs_body_mobile);
}
.btn a{
  text-decoration: none;
}
.btn.btn-primary,
.btn.btn-link,
.btn.btn-signin,
.btn.btn-login,
#menu-item-878,
#menu-item-879,
a.membership-email{
    width: 160px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    position: relative;
    outline: 0;
    background: none;
    border: 0;
    padding:0 !important;
    color: #ecb69b;
    color: var(--c_light_middle);
    border-radius: 0;
    z-index: 1;
}
#menu-item-878{
  position: absolute;
  right:160px;
  height: 45px;
  
}
#menu-item-879{
  position: absolute;
  right:0;
}
#menu-item-879,
.btn.btn-login{
  color: #ecb69b;
  color: var(--c_light_middle);
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #ecb69b;
  border: 2px solid var(--c_light_middle);
  height: 45px;
  line-height: 43px;
}
#menu-item-878,
.btn.btn-signin,
.btn.btn-signin input{
  color: #2d4560 !important;
  color: var(--c_dark_middle);
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.btn.btn-signin input{
  background-color: transparent !important;
}
.btn.btn-link,
a.membership-email {
  color: #2d4560;
  color: var(--c_dark_middle);
  width: auto;
  line-height: 30px;
  padding: 0 5px !important;
  margin-top: 35px;
  text-decoration: none;
}
.btn.btn-tile{
  color: #ecb69b;
  color: var(--c_light_middle);
  padding: 0 5px;
  line-height: 25px;
}
#personalfeed .btn.btn-tile a{
  font-size: 23px!important;
  line-height: 28px!important;
}
.views-Button-__btn::before,
.btn.btn-primary::before,
.btn.btn-link::before,
.btn.btn-signin::before,
.btn.btn-login::before,
#menu-item-878::before,
#menu-item-879::before,
a.membership-email::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  background: #2d4560;
  background: var(--c_dark_middle);
}
#menu-item-878::before,
.btn.btn-signin::before {
  background-color: #ecb69b;
  background-color: var(--c_light_middle);
}
.views-Button-__btn:not(:disabled):after,
.btn.btn-primary::after,
.btn.btn-signin::after,
.btn.btn-login::after,
#menu-item-878::after,
#menu-item-879::after {
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: #1a374c;
  background: var(--c_dark);
  transition: all .3s linear;
}
#menu-item-878::after,
.btn.btn-signin:after {
  background-color: #c68f77;
}
.btn.btn-primary:focus{
  box-shadow: none;
}
.views-Button-__btn:not(:disabled).views-Button-__hover:after, 
.views-Button-__btn:not(:disabled):focus:after, 
.views-Button-__btn:not(:disabled):hover:after,
.btn.btn-primary:hover::after,
.btn.btn-primary:focus::after,
.btn.btn-signin:hover::after,
.btn.btn-signin:focus::after,
.btn.btn-login:hover::after,
.btn.btn-login:focus::after,
#menu-item-878:hover::after,
#menu-item-879:hover::after,
#menu-item-878:focus::after,
#menu-item-879:focus::after {
  top: 50%;
}

a.membership-email:before,
.btn.btn-link:before{
  top: calc(100% - 2px);
  transition: all .3s linear;
}
.btn.btn-tile::before{
  background: #ecb69b;
  background: var(--c_light_middle);
}
a.membership-email:hover:before,
.btn.btn-link:hover:before{
  top: 50%;
  background: #ecb69b;
  background: var(--c_light_middle);
}
.btn.btn-tile:hover::before{
  background: #2d4560;
  background: var(--c_dark_middle);
}
#becomemember > h3{
  font-size: 38px;
  font-size: var(--fs_h2);
  line-height: 48px;
  line-height: var(--lh_h2);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Schulbuch Bayern;
  font-weight: 700;
}
#becomemember > h3{
  margin-top: 85px;
}

.togglebox p{
  border-radius: 10px;
  border-bottom-left-radius: 0;
  padding: 10px 25px;
}
.togglebox .card-body{
  font-size: 14px;
  font-size: var(--fs_body);
  line-height: 25px;
  line-height: var(--lh_body);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 20px 20px;
  letter-spacing: .02em;
  font-family: Schulbuch Bayern;
  font-weight: 400;
  width:100% !important;
}
a.togglebutton{
  font-size: 14px;
}
a.togglebutton:hover {
  text-decoration: none;
}
a.togglebutton:before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(./assets/svg/icon_plus.svg);
  background-repeat: none;
  background-position: 50%;
  font-weight: 700;
  position: absolute;
  left: -17px;
  top: 9px;
  font-size: 30px;
}
.site-footer{
  background-color: #2d4560;
  background-color: var(--c_dark_middle);
}
.site-footer div.row div.col-sm-12 div.footerimage{
  width: 230px;
  height: 163px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 40px;
  background-image: url(inc/assets/img/icon_footer.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}
#footernav li a{
  color: #f4e3db;
}
#footernav li a:hover{
  text-decoration: none;
}
.footer-social-links{
  margin-top: 85px;
  padding-top: 25px;
  padding-bottom: 35px;
  width: 100%;
  border-top: 1px solid #f4e3db;
  border-top: 1px solid var(--c_light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}
.footer-social-links >*{
  margin: 0 5px;
  cursor: pointer;
  outline: 0;
}
.footer-social-links rect{
  fill: #f4e3db!important;
  fill: var(--c_light)!important;
}
.footer-social-links .social-container{
  background-color: #f4e3db;
  background-color: var(--c_light);
  width: 40px!important;
  height: 40px!important;
}
.footer-social-links .social-svg-mask {
  fill: transparent!important;
}
.footer-social-links .social-svg-icon>path {
  fill: #2d4560;
  fill: var(--c_dark_middle);
}
.footer-social-links > *:hover rect {
  fill: #ecb69b!important;
  fill: var(--c_light_middle)!important;
}
.social-container:hover {
  background-color: #ecb69b;
  background-color: var(--c_light_middle);
}
/***************************

EVENTS PAGE

****************************/

.tribe-events-page-template.tribe-is-responsive div#page.site.container-fluid div#content.site-content{
  padding-top: 30px !important;
}
.tribe-events-page-template.tribe-is-responsive div#page.site.container-fluid div#content.site-content div.container.events-header,
.tribe-events-page-template.tribe-is-responsive div#page.site.container-fluid div#content.site-content > div.container-fluid{
  background-color: transparent !important;
}
.tribe-events-page-template.tribe-is-responsive div#page.site.container-fluid div#content.site-content div.container.events-header{
  margin-top:0;
}
.tribe-events-page-template.tribe-is-responsive div#page.site.container-fluid div#content.site-content div.container-fluid{
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.container-fluid main#tribe-events-pg-template.tribe-events-pg-template div#tribe-events div#tribe-events-content-wrapper.tribe-clearfix{
  padding-left: 0;
  padding-right:0;
}
.tribe-events-page-template.tribe-is-responsive div#page.site.container-fluid div#content.site-content div.container-fluid div.container-fluid{
  margin-top:0!important;
  background-color:transparent!important;
}
#tribe-events-content-wrapper > div.row{
  background-color: #F4E2DB;
}
#tribe-events-bar{
  padding-left: 180px;
  padding-right: 180px;
  margin-top: 60px;

}
.tribe-bar-filters-inner{
  display: flex;
  align-items: center;
}
#tribe-bar-form{
  background-color:transparent;
}
#tribe-bar-form .tribe-bar-search-filter,
#tribe-bar-form .tribe-bar-date-filter{
  position: relative;
  padding: 0;
  transition: all ease-in-out 0.2s;
}
#tribe-bar-form .tribe-bar-date-filter{
  margin-right:15px;
}
#tribe-bar-form .tribe-bar-search-filter input[type=text],
#tribe-bar-form .tribe-bar-date-filter input[type=text]{
  border-bottom:2px solid #ecb69b;
  color:#ecb69b;
  letter-spacing: .02em;
  font-family: Schulbuch Bayern;
  font-weight: 400;
  transition: all ease-in-out 0.2s;
}
#tribe-bar-form .label-tribe-bar-search,
#tribe-bar-form .label-tribe-bar-date{
  position: absolute;
  top: 11px;
  left: 5px;
  color:#ECB69B;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  transition: all ease-in-out 0.2s;
}
#tribe-bar-form .tribe-bar-search-filter input[type=text]::placeholder,
#tribe-bar-form .tribe-bar-date-filter input[type=text]::placeholder {
  color: transparent;
}
#tribe-bar-form input[type=text]:focus{
  border:none;
  outline:none;
  border-bottom:2px solid #ecb69b;
}
#tribe-bar-form input[type=text]:focus + label,
#tribe-bar-form input[type=text]:focus + input + label,
#tribe-bar-form label.input_has_value{
  top: -10px;
  left: 5px;
  font-size: 11px;
  color:teal;
}
#tribe-events-content{
 
  margin-left: auto;
  margin-right: auto;
}
#tribe-events-content-wrapper.tribe-clearfix div.row div.col div#tribe-events-content.tribe-events-list{
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.type-tribe_events:hover{
  overflow: visible;
}
.tribe-events-intro-container {
  max-width: 880px;
}
.tribe-events-title{
  font-size: 65px !important;
  line-height: 65px !important;
  letter-spacing: .04em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Bodoni Sev;
  font-weight: 700;
  padding-left: 180px;
}
.tribe-events-description {
  margin-top: 30px;
  font-size: 17px;
  color: #f4e3db;
  padding-left: 180px;
}
.tribe-events-page-template #content > .container-fluid,
.tribe-events-page-template #content > .container-fluid .row > .container-fluid,
#tribe-events-content{
  padding-bottom:0 !important;
}
.single-tribe_events #content > .container-fluid,
.single-tribe_events #content > .container-fluid .row > .container-fluid,
.single-tribe_events #tribe-events-pg-template,
#tribe-events-content{
  padding-left:0 !important;
  padding-right:0 !important;
}
.tribe-events-page-template #bio{
  padding-left:75px;
  padding-right:75px;
}
.single-tribe_events .tribe-events-schedule{
  background: transparent;
  border: none;
  margin: 18px 0 8px;
  padding: 0;
}
.single-tribe_events .tribe-events-schedule__datetime .tribe-events-schedule__date{
  font-size: 16px;
}
.tribe-block__organizer__title h3{
  color:#028080;
}
@media screen and (max-width:768px){
  .tribe-events-page-template #bio{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:3rem;
  }
  #tribe-events div#tribe-events-content.container-fluid div.row div#bio.col-lg-6.pt-5 h1.tribe-events-single-event-title{
    margin-bottom: 0;
    font-size: 50px !important;
  }
  .single-tribe_events .tribe-events-schedule
  .tribe-block.tribe-block__venue.tribe-block__venue--has-map,
  .tribe-block__venue{
    flex-direction: column;
  }
  .tribe-block__venue.tribe-block__venue--has-map .tribe-block__venue__map, 
  .tribe-block__venue.tribe-block__venue--has-map .tribe-block__venue__meta {
    width: 100%;
    flex-basis: 100%;
  }

}

.post-type-archive-tribe_events #tribe-bar-form .tribe-bar-views-inner,
.post-type-archive-tribe_events #tribe-bar-form #tribe-bar-views-toggle{
  background-color: #ECB69B;
  color: #314963;
  display: flex;
}
.post-type-archive-tribe_events #tribe-bar-form .tribe-bar-views-inner{
  padding-bottom:5px;
}
.tribe-block.tribe-block__rsvp{
  /* display: none; */
}
.tribe-block__tickets__buy{
  background-color:#028080 !important;
}
.tribe-events-list-event-description{
  margin-top:10px !important;
}
.single-tribe_events #bioimage { min-height: 48vh; }
.single-tribe_events .tribe-events-schedule__datetime .tribe-events-schedule__date,
.single-tribe_events .tribe-events-schedule__datetime .tribe-events-schedule__all-day, 
.single-tribe_events .tribe-events-schedule__datetime .tribe-events-schedule__separator, 
.single-tribe_events .tribe-events-schedule__datetime .tribe-events-schedule__timezone,
.single-tribe_events .tribe-events-schedule__datetime .tribe-events-schedule__time { font-size:14px; }
.single-tribe_events .tribe-block__event-price .tribe-block__event-price__cost,.single-tribe_events .tribe-block__event-price__description { color:#028080; font-size:14px; font-weight: 600; line-height:2em; }
.single-tribe_events #tribe-events-footer { display:none; }
.single-tribe_events .tribe-block__btn--link.tribe-block__events-gcal { color:#028080; }
.single-tribe_events .tribe-block__events-link .tribe-block__btn--link a { border-color:#028080; }
.single-tribe_events .tribe-block__event-website a { background:none;border:none;border-bottom: 2px solid currentColor; display: inline-block; line-height: 0.85; text-shadow: 1px 1px #f4e3db, 1px -1px #f4e3db, -1px 1px #f4e3db, -1px -1px #f4e3db; min-height:0%; padding: 2px !important; }
.single-tribe_events .tribe-block__tickets__item__icon { background:#028080; }
.single-tribe_events .tribe-block__rsvp__ticket,
.single-tribe_events .tribe-block__rsvp__content,
.single-tribe_events .tribe-block__tickets__item { background: #f7e7df; border:none; }

@media only screen and (max-width: 768px){
  #tribe-events-content{
    padding-top: 20px !important;
  }
  .tribe-events-title,
  .tribe-events-description{
    padding-left: 0;
  }
  .tribe-events-intro-container{
    width:100%;
  }
  #tribe-events-pg-template,
  #tribe-events-bar{
    padding:0;
  }
  #tribe-bar-form .label-tribe-bar-search, 
  #tribe-bar-form .label-tribe-bar-date{
    left: initial;
    margin-right:0;
    margin-left:0;
  }
  #tribe-bar-form .tribe-bar-search-filter,
  #tribe-bar-form .tribe-bar-date-filter{
    padding-right:10px;
    padding-left:10px;
    margin-right:0;
  }
  .tribe-bar-submit{
    margin-top: 15px;
    margin-right: 0 !important;
  }
  .tribe-bar-filters-inner{
    flex-direction: column;
  }
  .post-type-archive-tribe_events .tribe-events-loop > .card{
    padding-left: 15px;
    padding-right: 15px;
  }
  #tribe-events-footer:after,
  #tribe-events-footer:before, 
  #tribe-events-header:after, 
  #tribe-events-header:before{
    background-color:transparent;
  }
  .tribe-events-sub-nav li a{
    background-color: transparent;
    color:#2D4560;
  }
}
@media only screen and (min-width: 980px){
  #tribe-bar-form{
    display: flex;
  }
  .post-type-archive-tribe_events #tribe-bar-form .tribe-bar-views-inner{
    height: 100%;
  }
}
@media only screen and (max-width: 1000px){
  #tribe-events-pg-template,
  .tribe-events-page-template.tribe-is-responsive div#page.site.container-fluid div#content.site-content{
    /* padding-top:0 !important; */
  }
  #tribe-events-content .row{
    flex-direction: column-reverse;
  }
  #bioimage.col-lg-6 img{
    max-height: 360px;
  }

}
@media only screen and (max-width: 498px){
  .post-type-archive .container-fluid main#tribe-events-pg-template.tribe-events-pg-template div#tribe-events div#tribe-events-content-wrapper.tribe-clearfix,
  #tribe-events-content-wrapper > .row .col{
    padding:0;
  }
  .single-tribe_events.theme-wp-bootstrap-starter.woocommerce-js.tribe-js.responsive-menu-slide-left div#page.site.container-fluid div#content.site-content div.container-fluid{
    margin-top:0;
  }
}

.mainbody{
  padding-bottom:0;
}
.logo-showcase{
  margin-top: 30px;
  margin-bottom:50px;
  overflow: hidden;
}
.logo-showcase .slick-list{
  overflow: visible;
}
.logo-showcase-slide-item img {
  display: block;
  max-width: 150px;
  padding: 0 10px;
  height: 75px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-top: 25px;
  opacity: .5;
}
.slick-slider div { transition: none; }
/***************
HAPPING NOW
****************/
.happening-now{
  background-color: #F4E2DB;
  padding-top: 80px;
  padding-bottom: 160px;
  padding-left: 120px;
  margin-top: 0px !important;
  overflow: hidden;
}
.happening-now .slick-list{
  overflow: visible;
}
.happening-now-title{
  font-size: 25px;
  color: #2d4560;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Schulbuch Bayern;
  font-weight: 700;
}
.happening-now-title{
  position: relative;
  padding-left: 80px;
}
.happening-now-title::before{
  content: "";
  height: 4px;
  width: 60px;
  background: #2d4560;
  background: var(--c_dark_middle);
  display: block;
  position: absolute;
  left: 0;
  top: calc(50% - 2px);
}
.happening-now-description{
  padding-left: 80px;
  width: 400px;
  margin-top: 40px;
  color: #2d4560;
}
.happening-now-carousel .happening-now-slide-item > a{
  cursor: pointer;
  width: 385px;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.happening-now-carousel .happening-now-slide-item > a:hover{
  text-decoration: none;
}
.happening-now-carousel .happening-now-slide-item img{
  height: 390px;
  width: 100%;
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
h3.offer-title{
  padding: 5px;
  color: #2d4560;
  font-size: 25px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 325px;
  font-family: Schulbuch Bayern;
  font-weight: 700;
}
p.offer-details{
  max-width: 325px;
  color: #2d4560;
  margin-left: auto;
  margin-right: auto;
}
/*****************
USER REGISTRATION
*******************/
.user-interest-checkbox div.um-field-area,
.event-tags-checkbox div.um-field-area{
  display: flex;
  flex-wrap: wrap;
}
.user-interest-checkbox div.um-field-area label.um-field-checkbox,
.event-tags-checkbox div.um-field-area label.um-field-checkbox {
  flex: 1 1 50%;
}
body.page-template-page-register main{
  background-color: #2d4560;
  width: 100%;
}
body.page-template-page-register main > .container-fluid > .wp-block-columns{
  width: 100%;
}
body.page-template-page-register main > .container-fluid > .wp-block-columns > .wp-block-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 50%;
  max-width: 50%;
  height: calc(100vh - 60px);
  overflow: scroll;
}
body.page-template-page-register main > .container-fluid > .wp-block-columns > .wp-block-column:nth-child(2){
  background-color: #f4e3db;
  padding-bottom: 100px;
  padding-top: 95px;
}
.club-registration-form{
  display: none;
  max-height: 100%;
}
body.page-template-page-register main > .container-fluid > .wp-block-columns .wp-block-column .wp-block-group__inner-container > *{
  width: 100%;
  max-width: 380px
}
body.page-template-page-register .container-fluid > .wp-block-columns > .wp-block-column:nth-child(1) h3 {
  font-size: 25px;
  font-size: var(--fs_h3);
  line-height: 30px;
  line-height: var(--lh_h3);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Schulbuch Bayern;
  font-weight: 700;
  padding-bottom: 15px;
  position: relative;
}
body.page-template-page-register .container-fluid > .wp-block-columns > .wp-block-column:nth-child(1) h3::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  top: calc(100% - 1px);
  background: #ecb69b;
  background: var(--c_light_middle);
}
body.page-template-page-register h1 {
  font-size: 65px;
  font-size: var(--fs_h1);
  line-height: 65px;
  line-height: var(--lh_h1);
  letter-spacing: .04em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Bodoni Sev;
  font-weight: 700;
  margin-top: 25px;
}
body.page-template-page-register .container-fluid > .wp-block-columns > .wp-block-column:nth-child(1) p {
  margin-top: 25px;
  color: #f4e3db;
  color: var(--c_light);
}
body.page-template-page-register .container-fluid > .wp-block-columns > .wp-block-column:nth-child(2) h3 {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Schulbuch Bayern;
  font-weight: 700;
}
body.page-template-page-register .container-fluid > .wp-block-columns > .wp-block-column:nth-child(2) h4 {
  font-family: Schulbuch Bayern;
  font-weight: 700;
}
.club-registration-form .um-row-heading{
  padding-bottom: 15px !important;
  position: relative;
  font-size: 25px !important;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Schulbuch Bayern;
  font-weight: 700;
  color: teal;
}
.club-registration-form .um-row-heading:after {
  background-color: teal;
}
.club-registration-form .um-row-heading:after{
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  top: calc(100% - 1px);
}
.club-registration-form .um-row{
  margin-top: 40px !important;
  color: #2d4560;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: .02em;
  font-family: Schulbuch Bayern;
  font-weight: 400;
}
.wp-block-button__link{
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 0;
  letter-spacing: .02em;
  font-family: Schulbuch Bayern;
  font-weight: 400;
  margin-top: 10px;
  width: 160px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  position: relative;
  outline: 0;
  background: none;
  border: 0;
  color: #ecb69b !important;
  z-index: 1;
}
.wp-block-button__link::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  background: #2d4560;
}
.wp-block-button__link::after{
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: #1a374c;
  transition: all .3s linear;
}
.wp-block-button__link:hover::after{
  top: 50%;
}
.wp-block-button__link:hover:active::after{
  top: 0;
}
@media screen and (min-width:768px){
  body.page-template-page-register main > .container-fluid > .wp-block-columns{
    flex-wrap: nowrap;
  }
}
@media screen and (max-width:768px){
  body.page-template-page-register main > .container-fluid > .wp-block-columns{
    flex-direction: column;
  }
  body.page-template-page-register main > .container-fluid > .wp-block-columns .wp-block-column:nth-child(even){
    margin-left: 0;
  }
  body.page-template-page-register main > .container-fluid > .wp-block-columns > .wp-block-column{
    flex: 1 1 100%;
    max-width: 100%;
    padding: 15px 15px 45px!important;
    align-items: center;
    justify-content: flex-start;
    height: initial;
  }
  body.page-template-page-register main > .container-fluid > .wp-block-columns .wp-block-column:first-child .wp-block-group__inner-container > *{
    width: 100%;
    max-width: 100%
  }
  body.page-template-page-register h1{
    font-size: 50px;
  }
}
/*****************
HOMEFEED
*******************/
.personalfeed-intro{
  max-width: 450px;
  padding: 0 20px;
  color: #2d4560;
  margin: 20px auto 0;
  text-align: center;
}
#personalfeed .card-columns{
  margin: auto;
  max-width: 85%;
  width:100%;
}
.feed-columns{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 85%;
  width:100%;
}
@media screen and (max-width:768px){
  .feed-columns{
    max-width: 100%;
  }
  .feed{
    padding:0
  }
}
.feed{
  margin-bottom:30px;
}
.feed a{
  display: block;
  height: 100%;
  text-decoration: none;
}
.feed .feed-headline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  background-color: #2D4560;
  min-height: 165px;
}
.feed .tellmore{
  display: block;
}
.feed .featured-image-container {
  display: block;
  background-color: #cecece;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.feed .featured-image-container img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
body.page-template-page-login h1.entry-title{
  border-bottom:none;
  padding: 0;
}
body.page-template-page-login #content.site-content{
    background: #1a374c;
    min-height: calc(100vh - var(--header-height));
    padding-left: 155px;
    padding-top: 45px;
    position: relative;
    overflow-y: hidden;
    padding-bottom: 0;
}
@media screen and (max-width:768px){
  body.page-template-page-login #content.site-content{
    padding-left: initial;
}
}
body.page-template-page-login #um-submit-btn{
  position: relative;
}
body.page-template-page-login #um-submit-btn:before {
  content: "";
  background-image: url(/wp-content/themes/cityam-club-theme/assets/svg/full_arrotw_right_middle.svg);
  height: 19px;
  width: 19px;
  display: block;
  position: absolute;
  bottom: 55px;
  right: 90px;
  z-index: 9;
}
body.page-template-page-login .um-login{
  margin:0 !important;
}
body.page-template-page-login .um-col-alt{
  margin:0 !important;
}
body.page-template-page-login .um-field-text.um-field-type_text div.um-field-label label{
  font-size: 14px !important;
}
body.page-template-page-login .um-center{
  max-width: 300px;
  margin-top: 15px;
}
body.page-template-page-login .um-login #um-submit-btn{
  /* position: absolute; */
  display: block;
  bottom: 0;
  left: 0;
  margin-top: 40px;
  border-radius:0 !important;
  background-color: #ecb69b !important;
  color: teal !important;
  font-size: 38px !important;
  line-height: 40px !important;
  height: 180px !important;
  width: 100% !important;
  text-align: left !important;
  padding: 0 35px !important;
  cursor: pointer !important;
  outline: 0 !important;
  border-width: 0 !important;
  font-family: Schulbuch Bayern !important;
  font-weight: 700 !important;
}

#register-nav ul li a,
.membership-email{
  position: relative;
  font-size: 14px;
  font-size: var(--fs_body);
  line-height: 25px;
  line-height: var(--lh_body);
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: .02em;
  font-family: Schulbuch Bayern;
  font-weight: 400;
  padding: 0;
  z-index: 1;
}

#register-nav ul li a{
  width: 160px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  position: relative;
  outline: 0;
  background: none;
  border: 0;
  color: #ecb69b;
  color: var(--c_light_middle);
  z-index: 1;
}
.membership-email{
  color: #2d4560;
  color: var(--c_dark_middle);
  width: auto;
  line-height: 30px;
  padding: 0px 5px 5px;
}

#register-nav ul li a{
  color: #2d4560;
  color: var(--c_dark_middle);
  margin-right: 50px;
  text-transform: uppercase;
  font-weight: 700;
}

#register-nav ul li a[title="Login"]{
  color: #ecb69b;
  color: var(--c_light_middle);
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #ecb69b;
  border: 2px solid var(--c_light_middle);
  height: 45px;
  line-height: 43px;
  margin-top: 40px;
}

#register-nav ul li a::before,
.membership-email::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  background: #2d4560;
  background: var(--c_dark_middle);
}
.membership-email::before{
  top: calc(100% - 2px);
  transition: all .3s linear;
}
#register-nav ul li a::before{
  background-color: #ecb69b;
  background-color: var(--c_light_middle);
}
#register-nav ul li a[title="Login"]::before{
  background: #2d4560;
  background: var(--c_dark_middle);
}

#register-nav ul li a::after  {
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: #1a374c;
  background: var(--c_dark);
  transition: all .3s linear;
}
#register-nav ul li a::after{
  background-color: #c68f77;
}
#register-nav ul li a[title="Login"]::after{
  background: #2d4560;
  background: var(--c_dark_middle);
}

#register-nav ul li a:focus::after,
#register-nav ul li a:hover::after {
  top: 50%;
}

@media screen and (max-width:1000px){
  #register-nav ul li a{
    width: 228px;
    line-height: 50px;
    margin: 0 auto 10px;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
img.custom-logo{
  margin: auto;
  display: block;
  max-height: 95px;
  max-width: 190px;
  height: auto;
  width: 100%;
}
#main-nav{
  justify-content: center;
}
#main-nav ul > li > a{
  margin: 0 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ecb69b;
  color: var(--c_light_middle);
}
header#masthead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  height: calc(var(--header_height) - 40px);
  width: 100%;
  z-index: 999;
  color: #ecb69b;
  color: var(--c_light_middle);
  padding-top:15px;
}
body.page-template-page-register header#masthead,
body.page-template-page-login header#masthead,
body.single header#masthead{
  background: #2d4560;
  background: var(--c_dark_middle);
}
.logo-container{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger {
  display: none;
  content: "";
  background-image: url(./assets/svg/icon_hamburger.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 23px;
  height: 19px;
  margin-left:20px;
  z-index: 999;
}
header.show .navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2d4560;
  text-align: center;
  display: flex;
  animation: __appear_fixed .3s ease-out forwards;
}
header.show .hamburger{
  background-image: url(./assets/svg/cross_light.svg);
}
body:not(.home) div#logo {
  height: 80px;
}
#logo{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #4f6279;
  padding: 15px;
}
header #register-nav{
  position: absolute;
  right: 80px;
}
header #register-nav ul li a[title="Login"]{
  margin: 0;
}
#nav #register-nav{
  display: none;
}
#register-nav ul li a{
  padding: 0;
}
#menu-join-login{
  flex-direction: row;
}
@keyframes __appear_fixed {
  0% {
      top: -100%;
      opacity: 0;
  }
  1% {
    top: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width:1250px){
  #logo #register-nav ul li a{
    margin-right: 20px;
  }
}
@media screen and (max-width:1000px){
  header#masthead{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    flex-direction: row;
    padding-top:0;
    background: #2d4560;
    background: var(--c_dark_middle);
  }
  header .navbar{
    display: none;
  }
  header #main-nav ul{
    flex-direction: column;
  }
  header #main-nav ul li a{
    text-transform: none;
    font-family: Bodoni Sev;
    font-weight: 700;
    font-size: 50px !important;
    color: #ecb69b;
    line-height: 50px !important;
    margin: 0;
  }
  img.custom-logo{
    height: 14px;
    width: 160px;
    cursor: pointer;
  }
  .hamburger{
    display: block;
    left: 0;
    right: inherit;
    margin-right: 0;
  }
  header #register-nav{
    display: none;
  }
  #nav #register-nav{
    position: relative;
    right: initial;
    display: block;
  }
  #nav #register-nav ul li a[title="Login"] {
    margin: 0 auto;
}
  #register-nav{
    margin-top: 40px;
  }
  #menu-join-login{
    flex-direction: column;
  }
  #logo{
    border-bottom: none;
  }
}
@media screen and (max-width:768px){
  header #main-nav ul li a{
    font-size: 32px !important;
    line-height: 32px !important;
  }
}
body.home main#main{
  padding-top:40px;
  padding-bottom:80px;
}
body.home main h1{
  font-size: 65px;
  line-height: 65px;
  letter-spacing: .04em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Bodoni Sev;
  font-weight: 700;
}

body.home main .homepagetext *{
  margin-top: 30px;
  font-size: 17px;
  color: #f4e3db;
  margin-top: 15px;
  margin-bottom: 0;
  line-height: 25px;
  letter-spacing: .02em;
  font-family: Schulbuch Bayern;
  font-weight: 400;
}

body.home main .homepagetext h4{
  color:#ecb69b;
}

body.post-type-archive-partner #filter h1, 
body.post-type-archive-partner #filter p{
  max-width: 580px;
}
body.post-type-archive-partner #filter h1{
  font-size: 65px;
  font-size: var(--fs_h1);
}
div#ajaxsearchlite1 {
  max-width: 500px;
}
.postnumber{
  float: right;
}

@media screen and (max-width:1000px){
  body.home main#main .row{
    flex-direction: column-reverse;
  }
  .wp-video{
    margin-bottom:25px;
  }
  .wp-block-tpd-block-tpd-partner-content{
    min-height: initial !important;
    flex-direction: column-reverse;
  }
  .wp-block-tpd-block-tpd-partner-content #bio,
  .wp-block-tpd-block-tpd-partner-content #bioimage{
    max-width: 100%;
    flex: 1 1 100%;
  }
  .wp-block-tpd-block-tpd-partner-content .content-partner{
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-bottom: 35px;
    max-width: 100%;
  }
  .wp-block-tpd-block-tpd-partner-content .content-partner .partner-social {
    display: flex;
  }
  .wp-block-tpd-block-tpd-partner-content .content-partner .partner-social a.social-links {
    margin-top:10px
  }
}
@media screen and (max-width:768px){
  body.home main h1{
    margin-top:30px;
  }
  #content.site-content{
    padding-top: initial;
  }
  body.page-template-page-register #content.site-content,
  body.page-template-page-login #content.site-content{
    padding-top: 70px;
    margin-top: 0;
  }
  body.single-partner #content.site-content{
    margin-top: 0;
  }
}
@media (min-width: 576px){
  .wp-block-tpd-block-tpd-location-item.undefined.col-sm-2.col-md-4.col-lg-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width:565px){
  #main #content.site-content{
    padding-top: 60px;
  }
}