.post-type-archive-partner .container { max-width:1230px; }
.post-type-archive-partner h2 { color:#008080; margin-top:0; margin-bottom:0; font-family:"Schulbuch Bayern"; font-size:38px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.post-type-archive-partner #partnerpage { max-width:1210px; margin:0 auto; }
.post-type-archive-partner #filter p { font-size: 17px; }
.post-type-archive-partner .archivefeed p { font-size: 14px; }
.post-type-archive-partner .card { padding-right:15px; padding-left:15px; padding-bottom:5em; }
.post-type-archive-partner .card p { color:#008080; font-family:"Schulbuch Bayern"; font-size:14px; }
.post-type-archive-partner .partner-thumbnail { position:relative; }
.post-type-archive-partner .partner-thumbnail:after { position:absolute;left:0;top:0;content:"";width:100%;height:100%;background: rgba(26,55,76,.0); transition: all .3s linear; z-index:2; }
.post-type-archive-partner .partner-thumbnail:hover:after { background: rgba(26,55,76,.8); }
.post-type-archive-partner .partner-thumbnail .event-img { width:100%; height:100%; position:absolute; top:0; left:0; object-fit: cover; }
.post-type-archive-partner .partner-thumbnail .attachment-post-thumbnail { position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:60%; height:auto; opacity:0; transition: all .3s linear; }
.post-type-archive-partner .partner-thumbnail:hover .attachment-post-thumbnail { opacity:1; z-index:3; }

.single-partner main.site-main { width:100%; }
.single-partner #content section > .row:not(#offer) { min-height: calc( 60vh - 200px ); }
.single-partner #content section > #offer { /* padding-top:100px; */ }
.single-partner #offer h1 { font-size: 40px; }
.single-partner .socials { z-index: 12; }
.single-partner .socials svg rect { fill: #d3bcb4!important; }
.single-partner .socials svg:hover rect { fill: #2d4560!important; }

.post-type-archive-tribe_events #tribe-bar-form .tribe-bar-submit input[type=submit] { background: #314963; }
.post-type-archive-tribe_events #tribe-bar-form .tribe-bar-views-inner { font-family:"Schulbuch Bayern"; background: #314963; color:#ecb69b; }
.post-type-archive-tribe_events #tribe-bar-form .tribe-bar-views span.tribe-icon-list { -webkit-filter: invert(1); filter: invert(1); margin-bottom: -2px; }
.post-type-archive-tribe_events #tribe-bar-form #tribe-bar-views-toggle { color:#ecb69b; }
.post-type-archive-tribe_events #tribe-bar-form label { font-family:"Schulbuch Bayern"; }
.post-type-archive-tribe_events #tribe-bar-form #tribe-bar-views-toggle:focus, 
.post-type-archive-tribe_events #tribe-bar-form #tribe-bar-views-toggle:hover { background: #314963; color:#ecb69b; }
.post-type-archive-tribe_events .tribe-events-ical.tribe-events-button { display:none !important; }
.post-type-archive-tribe_events .tribe-events-list .type-tribe_events { padding:0; border:none; }
.post-type-archive-tribe_events .tribe-event-url { color:#008080; margin-top:0; margin-bottom:0; font-family:"Schulbuch Bayern"; font-size:38px; font-weight:bold; }
.post-type-archive-tribe_events .tribe-events-loop .card { width:100% !important; }
.post-type-archive-tribe_events .tribe-events-loop .tribe-thumb { position: relative; }
.post-type-archive-tribe_events .tribe-events-loop .tribe-thumb .tribe-events-event-image img { position: absolute; top:0; left:0; width:100%; height:100%; object-fit:cover; }
.post-type-archive-tribe_events .tribe-events-loop .tribe-events-read-more { color:#ecb69b; border-bottom:0; }

.page-template-page-login form .um-field-label label { font-size: 14px !important; font-family: "Schulbuch Bayern"; }
.page-template-page-login form h1.entry-title { border-bottom:none; }
.page-template-page-login form h1.entry-title div.um-form form div.um-col-alt div.um-center input#um-submit-btn.um-button { font-size: 38px; }
.page-template-page-login .um .um-form input[type="text"], 
.page-template-page-login .um .um-form input[type="tel"], 
.page-template-page-login .um .um-form input[type="number"], 
.page-template-page-login .um .um-form input[type="password"] { background: transparent !important; border: none !important; border-bottom: 2px solid #ecb79b !important; color: #fff !important; max-width: 420px; }
.page-template-page-login .um .um-form textarea { background: transparent !important; }
.page-template-page-login .um .um-form input[type="submit"] { font-family: 'Schulbuch Bayern'; font-size: 38px !important; color: #008080; }
.page-template-page-login input:-webkit-autofill,
.page-template-page-login input:-webkit-autofill:hover, 
.page-template-page-login input:-webkit-autofill:focus,
.page-template-page-login textarea:-webkit-autofill,
.page-template-page-login textarea:-webkit-autofill:hover,
.page-template-page-login textarea:-webkit-autofill:focus,
.page-template-page-login select:-webkit-autofill,
.page-template-page-login select:-webkit-autofill:hover,
.page-template-page-login select:-webkit-autofill:focus { transition: background-color 5000s ease-in-out 0s !important; }

.um-page-password-reset h1.entry-title { font-size:40px; border:none; max-width: 450px; margin-top:1em; margin-left: auto; margin-right: auto; line-height:1em; }
.um-page-password-reset .site-content .container-fluid { background-color: #1A374C !important; margin-top: 20px; /* min-height: calc( 80vh - 90px ); */ }
.um-page-password-reset ::-webkit-input-placeholder { color: #a7a7a8; font-size: 18px; font-family: "Schulbuch Bayern"; }
.um-page-password-reset ::-moz-placeholder { color: #a7a7a8; font-size: 18px; font-family: "Schulbuch Bayern"; }
.um-page-password-reset :-ms-input-placeholder { color: #a7a7a8; font-size: 18px; font-family: "Schulbuch Bayern"; }
.um-page-password-reset :-moz-placeholder { color: #a7a7a8; font-size: 18px; font-family: "Schulbuch Bayern"; }
.um-page-password-reset .um .um-form .um-field-block { font-size:18px; color:#ECB69B; font-family: "Schulbuch Bayern"; } 
.um-page-password-reset .um .um-form input[type="text"], 
.um-page-password-reset .um .um-form input[type="tel"], 
.um-page-password-reset .um .um-form input[type="number"], 
.um-page-password-reset .um .um-form input[type="password"] { background: transparent !important; color: #a7a7a8 !important; border: none !important; border-bottom: 2px solid #ecb79b !important; }
.um-page-password-reset .um .um-form input[type="submit"] { font-family: 'Schulbuch Bayern'; font-size: 18px !important; color: #008080; }
.um-page-password-reset .um .um-form textarea { background: transparent !important; }

.um-page-password-reset .um-field-label label { font-family: "Schulbuch Bayern"; color:#ECB69B; font-size:18px; }

.page-template-page-register #regText article { position: sticky; top: 60px; }
.page-template-page-register #regText h1.entry-title { font-size:65px; line-height:1em; }
.page-template-page-register h3 { font-size: 20px; }
.page-template-page-register #Button1 { font-size:14px; position:relative; display:block; width:160px; margin: 30px auto 0; left:0; }
.page-template-page-register #Div2 .um-row-heading { position:relative; }
.page-template-page-register #Div2 .um-row-heading:after { content:""; display:block; width:40px; height:1px; border-bottom:4px solid #028080; position:absolute; bottom:-10px; left:0; }
.page-template-page-register ::-webkit-input-placeholder { font-size:14px; color:#2D4560; background:none !important; } /* Chrome/Opera/Safari */ 
.page-template-page-register ::-moz-placeholder { font-size:14px; color:#2D4560; background:none !important; } /* Firefox 19+ */
.page-template-page-register :-ms-input-placeholder { font-size:14px; color:#2D4560; background:none !important; } /* IE 10+ */
.page-template-page-register :-moz-placeholder { font-size:14px; color:#2D4560; background:none !important; } /* Firefox 18- */
.page-template-page-register .select2.select2-container .select2-selection { background: transparent !important; border: none !important; border-bottom: 2px solid #2d455f !important; }
.page-template-page-register div.um-form form div.um-col-alt div.um-center input#um-submit-btn.um-button { font-family:"Schulbuch Bayern"; font-size:14px; margin-top:30px; }
.page-template-page-register .um-field-checkbox-state i, .um-field-radio-state i { color: #2D4560; }

.img-placeholder {
    width:100%;
    height: 400px;
}

@media only screen and (min-width: 768px) {
    .page-template-page-register #Div2 .um-row._um_row_1,
    .page-template-page-register #Div2 .um-row._um_row_2,
    .page-template-page-register #Div2 .um-row._um_row_3 { padding-left: 40px !important; }
}
@media only screen and (max-width: 799px) {
    .collapse:not(.show) {
        display: none;
    }    
}
@media only screen and (min-width: 850px) {
    .collapse:not(.show) {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }    
    .navbar-expand-xl .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }    
}

.has-huge-font-size, .has-larger-font-size {
    line-height: 1em;
}

/*------------------------------------*\
    Acc Page
\*------------------------------------*/
body.woocommerce-account table.shop_table.subscription_details tr:last-child td a + a {
    border-left: 1px solid #cecece;
    margin-left: 12px;
    padding-left: 12px;
}

/*------------------------------------*\
    Scroll Top
\*------------------------------------*/
html {
    scroll-behavior: smooth;
  }
  a[href="#top"] {
      position: fixed;
      bottom: 10px;
      right: 10px;
  }